@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4" text-primary><b>Mark Angelo S. Garcia</b></h1>
    <h2 class="display-4">BSIT-32E1 </h2>
    <p>Programmer/Digital Artist/Part-time Freelancer.</p>
    <img src="~/img/resumepicture.png" />
</div>
