@{
    ViewData["Title"] = "School";
}

<div class="text-center">
    <h1> Schedule for IT ELECTIVE 3(FULL STACK)</h1>
    <br>
    <h2>Asynchronous: Thursday 1:00PM - 3:00PM</h2>
    <br>
    <h2>Face to Face: Saturday 7:00M - 10:00AM</h2>
    <img src="~/img/Schedule.png" />
</div>

